presentation/latex/presentation.aux
presentation/latex/presentation.log
presentation/latex/presentation.nav
presentation/latex/presentation.out
presentation/latex/presentation.snm
presentation/latex/presentation.synctex.gz
presentation/latex/presentation.toc
